#links ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;

    .button-icon {
      height: 18px;
      width: 18px;
    }
  }
}
